---
import Layout from "../../layouts/Layout.astro";
import type { BlogFrontmatter } from "../../customTypes";

// Generate Project pages
export async function getStaticPaths() {
  const allPost = await Astro.glob<BlogFrontmatter>(
    "../../content/posts/*.mdx"
  );
  return allPost.map((post) => {
    return {
      params: { slug: post.frontmatter.slug },
      props: {
        frontmatter: post.frontmatter,
        post,
      },
    };
  });
}

const { slug } = Astro.params;
const data = Astro.props.frontmatter;
const { Content } = Astro.props.post;
---

<Layout title={slug as string}>
  <div class="max-w-[1024px] mx-auto">
    <div class="relative mx-6">
      <div
        class="absolute flex items-center justify-center bg-arjelgrey1 rounded-xl w-full h-44 -z-30 -translate-y-4"
      >
      </div>
    </div>
    <header
      style={{ backgroundColor: data.cardColor }}
      class={`relative flex flex-col items-center rounded-xl px-4 z-10 shadow-xl pt-12`}
    >
      <img class="mb-10" src={data.featuredImage} alt="" />
      <h1 class="text-white text-4xl md:text-6xl lg:text-8xl font-bold">
        {data.title}
      </h1>
      <p class="text-white lg:text-xl text-sm">
        {data.subtitle}
      </p>
      <a href="/" class="flex flex-row items-center gap-2 my-6 self-end">
        <div class="text-white w-4 h-4"></div>
        <p class="text-white mr-16">Back</p>
      </a>
    </header>
    <div class="grid grid-cols-4 gap-4 mt-4">
      <div class="col-span-4 lg:col-span-1">
        <aside class="flex flex-row lg:flex-col gap-4"></aside>
      </div>
      <main class="col-span-4 lg:col-span-3">
        <div
          class="rounded-xl bg-arjelgrey1 p-4 md:p-12 mb-8 prose prose-headings max-w-none"
        >
          <div class="mb-10"></div>
          <Content />
        </div>
      </main>
    </div>
  </div>
</Layout>
