---
import Layout from "../layouts/Layout.astro";
import HomeExtras from "../components/HomeExtras";
import BlogSection from "../components/BlogSection";
import ArjelFixed from "../components/ArjelFixed";

const blogQuery = await Astro.glob("../content/posts/*.md");

const posts = blogQuery.map((post) => {
  return {
    title: post.frontmatter.title,
    cardColor: post.frontmatter.cardColor,
    featuredImage: post.frontmatter.featuredImage,
    publishDate: post.frontmatter.publishDate,
    slug: post.frontmatter.slug,
    summary: post.frontmatter.summary,
  };
});
---

<Layout title="Home">
  <ArjelFixed client:load />
  <main class="flex flex-col items-end">
    <div class="flex flex-col gap-4 xl:max-w-[1000px] 2xl:max-w-[1300px]">
      <HomeExtras client:load />
      <BlogSection data={posts} client:load />
    </div>
  </main>
</Layout>
