---
import logo from "../images/SvgArjelFixed.svg"
---

<a href="#">
  <div class="fixed xl:flex flex-col gap-1 hidden z-20 top-44">
    <img src={logo} width={100} alt="fixed logo" />
    <div
      class="flex w-[324px] h-[1px] bg-arjelgrey4 justify-end after:-translate-y-1/2 after:rounded-full after:w-4 after:h-4 after:bg-white"
    >
    </div>
  </div>
</a>
