---
import "@fontsource/poppins";
import ContactButton from "../components/ContactButton";
import SvgLogo from "../images/SvgLogo.svg";
import { ViewTransitions  } from 'astro:transitions'
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="title" content="ArjelDev Awesome Portfolio!" />
    <meta
      name="description"
      content="I'm a front end web designer specializing in the React framework. Check out my portfolio to see some of my recent projects, and feel free to contact me on LinkedIn or Twitter for freelance opportunities."
    />
    <!-- Google Tag Manager -->
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MQD8WK2");
    </script>
    <!-- End Google Tag Manager -->
    <meta
      name="keywords"
      content="front end web designer, React, portfolio, job opportunities"
    />
    <meta name="author" content="arjeldev" />

    <meta name="linkedin" content="https://www.linkedin.com/in/arjeldev" />

    <meta name="twitter" content="https://twitter.com/arjeldev" />

    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body
    class="text-arjelgrey4 font-body bg-gradient-to-t from-[#C9B9B8] to-[#BDBEE2] dark:bg-gradient-to-t dark:from-[#2e2c2c] dark:to-[#464647] selection:text-arjelgrey4 selection:bg-arjelgrey1"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MQD8WK2"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <div class="container mx-auto px-4">
      <nav class="flex justify-between items-center py-6">
        <a href="/" class="hidden md:block">Welcome 😊</a>
        <a href="/">
          <img src={SvgLogo} alt="arjel logo" />
        </a>
        <ContactButton client:load />
      </nav>
      <div class="py-4 md:py-6"></div>
      <slot />
    </div>
  </body>
  <footer class="mt-40 mb-6">
    <p class="text-xl text-center">Arjel / WebDev</p>
  </footer>
</html>
