---
import "@fontsource/poppins";
import ContactButton from "../components/ContactButton";
import SvgLogo from "../images/SvgLogo.svg";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="title" content="ArjelDev Awesome Portfolio!" />
    <meta
      name="description"
      content="I'm a front end web designer specializing in the React framework. Check out my portfolio to see some of my recent projects, and feel free to contact me on LinkedIn or Twitter for freelance opportunities."
    />
    <script is:inline type="text/partytown">
      !(function (t, e) {
        var o, n, p, r;
        e.__SV ||
          ((window.posthog = e),
          (e._i = []),
          (e.init = function (i, s, a) {
            function g(t, e) {
              var o = e.split(".");
              2 == o.length && ((t = t[o[0]]), (e = o[1])),
                (t[e] = function () {
                  t.push([e].concat(Array.prototype.slice.call(arguments, 0)));
                });
            }
            ((p = t.createElement("script")).type = "text/javascript"),
              (p.async = !0),
              (p.src = s.api_host + "/static/array.js"),
              (r = t.getElementsByTagName("script")[0]).parentNode.insertBefore(
                p,
                r
              );
            var u = e;
            for (
              void 0 !== a ? (u = e[a] = []) : (a = "posthog"),
                u.people = u.people || [],
                u.toString = function (t) {
                  var e = "posthog";
                  return (
                    "posthog" !== a && (e += "." + a), t || (e += " (stub)"), e
                  );
                },
                u.people.toString = function () {
                  return u.toString(1) + ".people (stub)";
                },
                o =
                  "capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(
                    " "
                  ),
                n = 0;
              n < o.length;
              n++
            )
              g(u, o[n]);
            e._i.push([i, s, a]);
          }),
          (e.__SV = 1));
      })(document, window.posthog || []);
      posthog.init("phc_PRHMp3qmjBZUY6JwrE8pfcUGDDamQgUf0VMq6BCOit8", {
        api_host: "https://app.posthog.com",
      });
    </script>
    <meta
      name="keywords"
      content="front end web designer, React, portfolio, job opportunities"
    />
    <meta name="author" content="arjeldev" />

    <meta name="linkedin" content="https://www.linkedin.com/in/arjeldev" />

    <meta name="twitter" content="https://twitter.com/arjeldev" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="text-arjelgrey4 font-body bg-gradient-to-t from-[#C9B9B8] to-[#BDBEE2] dark:bg-gradient-to-t dark:from-[#2e2c2c] dark:to-[#464647]"
  >
    <div class="container mx-auto px-4">
      <nav class="flex justify-between items-center py-6">
        <a href="/" class="hidden md:block">Welcome 😊</a>
        <a href="/">
          <img src={SvgLogo} alt="arjel logo" />
        </a>
        <ContactButton client:load />
      </nav>
      <div class="py-4 md:py-6"></div>
      <slot />
    </div>
  </body>
  <footer class="mt-40 mb-6">
    <p class="text-xl text-center">Arjel / WebDev</p>
  </footer>
</html>
